*{ margin: 0; box-sizing: border-box;}
ul{ list-style: none;}
button{ cursor: pointer;}
:disabled{ cursor: not-allowed;}
img{ align-items: baseline; cursor:pointer;}
a{ text-decoration: none;}
html{scroll-behavior: smooth;}