@use 'reset';
@use 'grid';

@font-face {
    font-family: baloo;
    src: url(../fonts/BalooBhai-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: monts;
    src: url(../fonts/Montserrat-Regular.woff2);
    font-display: swap;
}

.container {
    font-family: baloo, serif;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.container-head {
    font-family: baloo, serif;
    width: 100%;
    margin: auto;
    
}

p {
    font-family: monts, serif;
}

button:hover {
    opacity: 0.8;
}
img{
    transition: all 0.4s ease-in-out;
}
img:hover{
    box-shadow: 2px 2px 5px #e6e8e6;
}


.wrap-0 {
    background: #f4f9f4;
    padding: 40px 15px;
    position: sticky;
    top: 0;
    z-index: 1;
   

    header {
        position: relative;
        background: #e2ede8;
      

        img {
            position: absolute;
            top: -25px;
            background-color: #a7d7c5;
        }
    }
    .collapse{
        display: flex;
         align-items: center; 
         justify-content: space-between;
        }
    .btn-mob{
         display: none;
        }
    .btn-mob span{
         display: block;
          height: 2px;
           background:  #73aba7; 
           width: 70px; 
           margin: 5px auto; }

    nav {
        ul {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: end;

            li {
                button{
                    padding: 7px 35px;
                    line-height: 40px;
                    color: #494f4e;
                    font-family: baloo;
                    border: none;
                    background: transparent;
                    font-size:20px ;
                }
                button span{
                    content: '';
                    display: inline-block;
                    border: 5px solid;
                    border-color: #494f4e transparent transparent transparent;
                    margin: -3px 3px;
                }
                button:hover {
                    background: #73aba7;
                    color: #f4f9f4;
                }
                a {
                    padding: 7px 35px;
                    line-height: 40px;
                    color: #494f4e;
                    font-family: baloo;
                    font-size: 20px;
                }

                a span {
                    content: '';
                    display: inline-block;
                    border: 5px solid;
                    border-color: #494f4e transparent transparent transparent;
                    margin: -3px 3px;
                }

                .activea {
                    box-shadow: 1px 2px 3px rgb(22, 63, 63);
                    background: #406763;
                    color: #f4f9f4;
                    padding: 6px 50px;
                }

                a:hover {
                    background: #73aba7;
                    color: #f4f9f4;
                }

            }

            .dropdown-A {
                padding: 10px;
                display: none;
                position: absolute;
                z-index: 2;
                background: #e2ede8;
                margin-top: 3px;
                border-radius: 10px;
                left: 40%;
            }

            .dropdown-A ul,
            .dropdown-B ul {
                display: flex;
                flex-flow: column wrap;
                padding: 0;
            }


            .dropdown-B {
                padding: 10px;
                position: absolute;
                display: none;
                z-index: 2;
                background: #e2ede8;
                margin-top: 3px;
                border-radius: 10px;
                right: 22%;
            }

        }
    }
    .back{
        margin-left:60%;
        padding: 7px 50px;
        line-height: 40px;
        color: #494f4e;
        font-family: baloo;
        border: none;
        background: transparent;
        font-size:20px ;
    }
}

.wrap-1 {
    background-color: #f4f9f4;
     height: auto;
     padding-bottom:20% ;
  
    text-align: center;
    position: relative;
    background-image: url(../img/designlow.png);
    background-repeat: no-repeat;

    img {
        border-radius: 50%;
        border: solid #bed2ce;
        position: absolute;
        top: 100px;
        left: 115px;
    }

    h2 {
        color: #4f6764;
        font-size: 60px;
        padding-top: 25%;
    }

    p {
        color: #4f6764;
        font-size: 20px;
    }

    button {
        width: 250px;
        height: 50px;
        font-size: 18px;
        background: #4f6764;
        color: #f4f9f4;
        border-radius: 10px;
        border: none;
        margin-top: 20px;
    }
}


.wrap-2 {
    background: #4f6764;
    color: #f4f9f4;
    height: auto;
    padding: 50px 10px;
    text-align: center;
   

    img {
        border-radius: 50%;
       
        border: 2px solid #182222;
    }

    h2 {
        font-size: 60px;
        line-height: 100px;
        padding-top: 10%;
    }

    p {
        font-size: 20px;
        line-height: 30px;
        padding: 20px;
    }

    h3 {
        font-size: 25px;
        line-height: 40px;
    }

    .col-4 {
        padding: 10px;

        p {
            font-size: 17px;
        }
    }

}

.wrap-3 {
    background-color: #f4f9f4;
    color: #6c9894;
    height: auto;
    padding: 50px 10px;
    text-align: center;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;


    h2 {
        color: #4f6764;
        font-size: 60px;
        padding-top: 10%;
    }

    p {
        color: #4f6764;
        font-size: 20px;
    }

    .stat {
        border: solid #4f6764;
        border-radius: 50%;
        width: 330px;
        aspect-ratio: 1/1;
        margin: 50px;

        h3 {
            font-size: 45px;
            padding: 20px;
            padding-top: 80px;
            font-weight: lighter;
        
        }

        p {
            font-size: 20px;
        }
    }
   
}

.wrap-4 {
    background: #4f6764;
    color: #f4f4f4;
    height: 945px;
    text-align: left;
    overflow: hidden;


    .instructor {
        padding: 60px;
    }

    h2 {
        font-size: 60px;
        padding-top: 25%;
    }

    p {
        font-size: 25px;
    }
    

    button {
        width: 250px;
        height: 50px;
        background: #f4f9f4;
        color: #4f6764;
        border-radius: 5px;
        border: none;
        margin-top: 40px;
        font-size: 20px;
        font-weight: bolder;
    }

}

.wrap-5 {
    background-color: #f4f9f4;
    color: #4f6764;
    height: auto;
    text-align: left;

    img {
        padding: 50px 20px;
    }

    .experience {
        padding-left: 40px;
    }

    h2 {
        color: #6c9894;
        font-size: 50px;
        padding-top: 20%;
    }

    p {
        color: #6c9894;
        font-size: 25px;
    }

    button {
        width: 250px;
        height: 50px;
        background: #4f6764;
        color: #f4f9f4;
        border-radius: 5px;
        border: none;
        margin-top: 40px;
        font-size: 20px;
        font-weight: bolder;
    }

}

.wrap-6 {
    background-color: #6c9894;
    color: #f4f9f4;
    height: auto;
    padding: 50px 10px;
    text-align: center;

    h2 {
        font-size: 60px;
        padding-top: 10%;
    }

    p {
        font-size: 25px;
        padding: 20px 100px;
    }

    .class {
        border-radius: 5px;
        background: #f4f9f4;
        color: #4f6764;
        width: 330px;
        max-width: 350px;
        min-width: 300px;
        margin: 50px;
        transition: all 0.5s;

        h3 {
            font-size: 30px;
            padding: 20px 0;
            font-weight: lighter;
        }

        p {
            font-size: 20px;
            padding: 0;
        }

        button {
            width: 250px;
            height: 50px;
            background: #6c9894;
            color: #f4f9f4;
            border-radius: 5px;
            border: none;
            margin: 40px 0 20px 0;
            font-size: 20px;
            font-weight: bolder;
        }
    }
    .class:hover{
        box-shadow: 1px 2px 4px rgb(79, 70, 70);
        transform: translateY(-6px);
    }
}

.wrap-7 {
    background: url(../img/shapeback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center top;
    position: relative;
     height: auto;
    color: #6c9894;
    text-align: center;

    img {
        position: absolute;
        left: 40%;
        top: 10%;
        border-radius: 50%;
        border: 2px solid #6c9894;
    }

    blockquote {
        font-size: 45px;
        font-family: monts;
        padding: 40% 8% 2% 8%;
    }

    h3 {
        font-size: 45px;
    }
}

.wrap-8 {
    background: #6c9894;
    color: #f4f9f4;
    height: 650px;
    text-align: center;
    padding: 120px 50px;

    h2 {
        font-size: 60px;
        padding-top: 10%;
    }

    p {
        font-size: 25px;
        padding: 20px 100px;
    }

    input {
        width: 770px;
        height: 65px;
        border: none;
        border-radius: 30px ;
    }

   

    button {
        width: 230px;
        height: 65px;
        border: none;
        border-radius: 30px;
        margin-left: -230px;
        background-color: #e6e8e6;
        color: #4f6764;
        font-family: baloo, serif;
        font-size: 20px;
    }

    input::placeholder {
        font-size: 20px;
        padding: 20px;
    }
}

.wrap-9 {
    background-color: #f4f9f4;
    color: #4f6764;
    height: auto;
    text-align: left;
    padding: 150px 50px;

    div {
        text-align: left;

        h3 {
            font-size: 25px;
            padding: 35px;
        }

        p {
            font-size: 22px;
            padding-left: 35px;
        }

        li a {
            color: #4f6764;
            padding: 0;
            font-family: monts, serif;
            font-size: 22px;
        }

        span {
            font-size: 18px;
            line-height: 30px;
            width: 30px;
            height: 30px;
            border: 1px solid #6c9894;
            background: #4f6764;
            color: #f4f9f4;
            border-radius: 50%;
            text-align: center;
            margin-right: 10px;
        }

        li a:hover {
            color: #182222;
        }

        span:hover {
            background: #e2ede8;
            color: #40615f;
        }

        .top {
            position: fixed;
            right: 10px;
            bottom: 10px;
            background: #222323;
            color: #edf5f2;
            width: 45px;
            aspect-ratio: 1/1;
             border-radius: 50%;
             text-align: center;
             padding-top: 10px;
             box-shadow: 2px 2px 4px #73aba7;
        }
    }
}
.demo-head{width: 100%;overflow: hidden;}
.demo-head header img{height:50px;top:0;}
.wrap-10{
    height: auto;
    padding-bottom: 10% ;
    background: #e2ede8;
    color: #334341;
    font-family: baloo;
    text-align: center;
   
    .trial{
        padding-bottom: 10%;
    }
    img{
        border-radius: 50px;
        border: 1px solid #406763;
      
    }

    
    h2 {
        font-size: 60px;
        padding-top: 10%;
        
    }
}
@media screen  and (max-width: 1220px){
    .container{ width: 960px; }
    .wrap-0 .collapse{
        margin-left: 200px;
    }
    .wrap-0 nav ul li{
        button, a,.activea{
            padding: 6px 20px;
        }
        .dropdown-A{
            left:40%
        }
    }
    .col-lg-12{
        flex-basis: 100%; max-width: 100%;
    }
    .col-lg-6{
        flex-basis: 50%; max-width: 50%;
    }
    .col-lg-4{
        flex-basis: 33.3%; max-width: 33.3%;
    }
     h2{ font-size: 50px;}
     .wrap-1 .det{padding-left: 10%;}
     
    .wrap-5 .experience{
        padding-left: 15%;
    }
    .wrap-7{
        img{
            left: 36%;
            }
        blockquote{
            padding-top: 50%;
        }
    } 
    .wrap-9 div{
        padding:0 30px ;
    }
    
}

@media screen  and (max-width: 980px){
    .container{ width: 760px; }
    .col-sm-12{
        flex-basis: 100%;max-width: 100%;
    }
   
    .col-sm-10{
        flex-basis: 83.33%;max-width: 83.33%;
    }
   .wrap-0 .collapse{
    margin-left: 62px;
   }
    .wrap-1 .det{
        padding-top: 60%;
        padding-bottom: 5%;
    }
    .wrap-3 .stat{
        margin: 5%;
        h3{
            padding-bottom: 0;
            font-size: 35px;
            padding-top: 25%;
        }

    }
    .wrap-4{
        height: fit-content;
        .instructor,.instrimg{
        text-align: center;
    }}
    .wrap-5{
        text-align: center;
        .experience{
            padding:50px 10px 100px 10px;
        }
    }
    .wrap-6 .class{
      margin:50px auto;
     button{
        width: 200px;
      }
    }
    .wrap-7{
        blockquote{
            padding-top: 60%;
        }

        img{
        left: 32%;}
    }
    .wrap-8 {
        p{
            padding: 25px;
        }
        form{ 
            input{
            width: 650px;
            }
            button{margin-left: -230px;}
    }
    }
    .col-ms-12{flex-basis: 100%; max-width: 100%;}
}
 
@media screen  and (max-width: 767px){
    .container{width: 100%; }
    .col-s-6{flex-basis: 50%; max-width: 50%;}
 

    .wrap-0{
       
      .collapse{
            display: none;
      nav{
        position: absolute;
        left: 53%;
        top: 20%;
        background:rgb(226, 237, 232,0.8);
        z-index: 2;
        margin-top: 55px;
        border-radius: 10px;
        text-align: left;
        ul{display: block;
             margin-top: 50px;
             margin-bottom: 20px;
             li .dropdown-A{
                left: -220px;
                top: 130px;
             }
             li .dropdown-B{
                left: -130%;
                right: 92%;
                top: 42%;
             }
        }
      }  }
      .collapse nav ul li a,.collapse nav ul li button {line-height: 40px;}
      .collapse{ clear: both; text-align: right; padding: 10px;}
      .btn-mob{display: inline-block; position: absolute;right: 20px; margin: 5px 0;} 
     
}
.wrap-1 .det{
    padding-top: 85%;
}
.wrap-3 .stat{
    margin: 15px 25%;
    h3{
        font-size: 40px;
    }
    p{
        font-size: 16px;
    }
}
.wrap-7{
    blockquote{
        padding-top: 80%;
        font-size:35px;
        padding: 100% 0 2% 0 ;
    }

    img{
    left: 25%;}
}
.wrap-8{
    p{
        padding:25px 5px;
    }
    form{ 
        input{
        width: 400px;
        }
        button{margin-left: -130px;
        width: 135px;}
}

}
.wrap-9{
    div{
        padding: 0;
    }
}
.wrap-10{
    img{
        width: 280px;
        height: auto;
    }
}
}



@media screen  and (max-width: 460px){
    .container{width:100%;overflow: hidden;}
 
    h2{
        font-size: 40px  !important;
        padding: 15px 0;    
}
    h3{
        font-size: 30px;
        padding: 5%;
        line-height: 32px;
    }
    .wrap-0{
        .btn-mob{margin: 0;}
        .collapse nav{
            left: 33%;
            top: -90%;
        }
        .collapse a,.collapse button{
            font-size: 16px;
            
        }
        .collapse nav ul li{
            .dropdown-A,.dropdown-B{
                padding: 0;
                left: -133px;
                right: 75%;
                top: 50%;


            }

        } 
    }
    .wrap-1{
        .det{padding-top:115% ;}
        img{
            left: 20%;
            width: 300px;
        }
    }  
    .wrap-2{
        img{
            width: 250px;
        }
    }
    .wrap-3{
        .stat{
            margin: 15px auto;
            h3{
                padding-top: 40%;
            }
        }
    }
    .wrap-4{
        
        p{
            font-size: 20px;
            padding: 0;
        }
        button{
            width: 200px;
            height: 45px;
        }
        img{
            width: 100%;
        }
    }
    .wrap-5{
        img{
            width: 100%;
        }
    }
    .wrap-6{
        p{
            padding: 10px;
        }
    }
    .wrap-7{
        blockquote{
            font-size: 22px;
            padding-top: 130%;
        }
        h3{
            font-size: 25px;
        }
        img{
            left: 10%;
        }
    }
    .wrap-8{
        height: auto;
        p{
            padding: 0;
            font-size: 16px;
        }
        form{
            input{width: 220px;
            height: 40px;
            margin: 10px 0;
        }
            input::placeholder{
                font-size: 15px;
            }
      
        button{
            font-size: 13px;
            height: 40px;
            width: 80px;
            margin-left: -80px;
        }
      }
    }
.col-md-12{
    flex-basis: 100%; max-width: 100%;
}
.col-md-10{
    flex-basis: 83.33%;max-width: 83.33%;
}

} 